<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.tliaswebmanagement.Mapper.EmployeeMapper">

    <insert id="EmployeeDataInsert" useGeneratedKeys="true" keyProperty="id">
        insert into employee(
            user_name,name,pass_word,gender,phone_number,job,department_id,salary,image,entry_date,create_time,update_time
        )
        values(
            #{userName},#{name},#{passWord},#{gender},#{phoneNumber},#{job},#{departmentId},#{salary},#{image},#{entryDate},#{createTime},#{updateTime}
        )
    </insert>

    <update id="dataUpdate">
        update employee
            set
                <if test="userName != null and userName != ''">
                    user_name = #{userName},
                </if>
                <if test="passWord != null and passWord != ''">
                    pass_word = #{passWord},
                </if>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="gender != null and gender != ''">
                    gender = #{gender},
                </if>
                <if test="phoneNumber != null and phoneNumber != ''">
                    phone_number = #{phoneNumber},
                </if>
                <if test="job != null and job != ''">
                    job = #{job},
                </if>
                <if test="salary != null and salary != ''">
                    salary = #{salary},
                </if>
                <if test="image != null and image != ''">
                    image = #{image},
                </if>
                <if test="departmentId != null and departmentId != ''">
                    department_id = #{departmentId},
                </if>
                <if test="entryDate != null">
                    entry_date = #{entryDate},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime}
                </if>
            where
                id = #{id}
    </update>

    <delete id="dataDelete">
        delete from
            employee
        where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>

    <select id="queryByParameters" resultType="org.example.tliaswebmanagement.EntityClass.Employee">
        select
            em.id,user_name,em.name,gender,image,job,salary,entry_date,department_id,dp.name,dp.create_time,dp.update_time
        from
            employee em
                left join
            department dp
            on dp.id = em.department_id
        <where>
            <if test="gender != null and gender != ''">
                em.gender = #{gender}
            </if>
            <if test="name != null and name != ''">
                and em.name like concat('%','五','%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and em.create_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>

    <resultMap id="empResultMap" type="org.example.tliaswebmanagement.EntityClass.Employee">

        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="phone_number" property="phoneNumber" />
        <result column="job" property="job" />
        <result column="salary" property="salary" />
        <result column="image" property="image" />
        <result column="department_id" property="departmentId" />
        <result column="entry_date" property="entryDate" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="employeeWorkExperiences" ofType="org.example.tliaswebmanagement.EntityClass.EmployeeWorkExperience">
            <id column="em_we_id" property="id" />
            <result column="employeeId" property="employeeId" />
            <result column="start_time" property="startTime" />
            <result column="end_time" property="endTime" />
            <result column="company" property="company" />
            <result column="em_we_job" property="job" />
        </collection>

    </resultMap>

    <select id="dataQueryById" resultMap="empResultMap">
        select
            em.*,
            em_we.id em_we_id,
            em_we.employeeId,
            em_we.company,
            em_we.job em_we_job,
            em_we.start_time,
            em_we.end_time
        from
            employee em
        left join
            employee_work_experience em_we
        on em.id = em_we.employeeId
        where em.id = #{id}
    </select>

    <select id="dataQueryByUserName" resultType="org.example.tliaswebmanagement.EntityClass.LoginInfo">
        select id,user_name,name from
            employee
        where
            user_name = #{userName} and pass_word = #{passWord}
    </select>

</mapper>